.collaborator {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
}


.add-collab-button {
    border-radius: 3px;
    margin-left: 20px;
    background-color: transparent;
    border-style: solid;
    border-width: .75px;
    border-color: orange;
}

.collab-modal {
    background-color: #222629;
    border-radius: 5pt;
    border-color: black;
    border-style: solid;
    margin: 0 auto;
    top: 30pt;
    height: 20em;
    width: 30em;
    padding: 1pt 15pt 80px;
    position: relative;
    text-align: center;}