body {
  background-color: #222629;
  color: white;
  margin: 0;
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
}

.top-nav {
  background-color: #333;
  color: #86C232;
  padding-left: 1.2em;
  padding-top: 1em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: 18px;
  font-family: "Arial", sans-serif;
  margin-top: 0;
  font-size: 24pt;
  overflow: hidden;
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
}

ul li {
  margin-bottom: 8px;
}

.fa-edit {
  margin-left: 1em;
  font-size: 10px;
  vertical-align: middle;
}

#addItem {
  margin-left: 0;
  text-align: left;
  font-size: 12pt;
  color: #6B6E70;
}

button {
  margin-left: 2.6em;
  background-color: darkred;
  box-shadow: black;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
  vertical-align: center;
}

#uncomplete {
  margin: 3em 1em 3em 2.2em;
  font-size: 12pt;
}
.fa-info-circle {
  color: #86C232;
}

input[type=text] {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: transparent;
  margin-left: 7px;
  margin-bottom: .5px;
  outline: 0;
  border: 0;
  border-bottom: .25px solid #86C232;
}

input[class=listItemValue] {
  border-bottom: none;
}

input[class=greenCheck] {
  display: inline-block;
  position: relative;
  background-color: #86C232;
}

.greenCheck {
  background: #86C232;
}

input[class=toggle] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

input[type=checkbox] {
  vertical-align: middle;
}

input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 16px;
  width: 37px;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: -.5px;
  left: .5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:focus {
  box-shadow: 0px 0px 10px white;
}

.toggle:checked {
  border-color: #86C232;
}
.toggle:checked:after {
  transform: translatex(20px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 300pt;
  right: 300pt;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, .8);
}

.alert-buttons {
  margin: 0 auto;
  position: absolute;
  display: flex;
  bottom: 15pt;
  left: 0;
}


.alert-cancel {
  background-color: #86C232;
}

.item-value {
  width : 70%;
  overflow-wrap: normal;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.modal {
  background-color: #222629;
  border-radius: 5pt;
  border-color: black;
  border-style: solid;
  margin: 0 auto;
  top: 30pt;
  height: 10em;
  width: 15em;
  padding: 1pt 15pt 80px;
  position: relative;
  text-align: center;

}

h4 {
  vertical-align: top;
}

.add-button {
  background-color: #86C232;
}

.priority-buttons {
  display: block;
  justify-content: center;
  margin-left: 33px;
}

.order-priority {
  background-color: #222629;
  border-color: #86C232;
  border-style: solid;
  border-radius: 20px;
  border-width: 1pt;
  color: #86C232;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 7px;
  padding: 4px;
}

.order-priority:hover {
  background-color: #86C232;
  color: white;
}

.order-priority:active {
  background-color: #86C232;
  color: white;
}

.edit-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.navbar {
  opacity: .97;
  background-color: #51761E;
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  z-index: 3;
  transition: all 0.5s ease;
}

.navbar h3 {
  margin-left: 25px;
}

.navbar .lists-menu {
  padding-top: 10px;
  height: 100vh;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
}

/*.navbar .lists-menu:focus {*/
/*  box-shadow: 0 0px 2px white;*/
/*}*/

.navbar .lists-menu li {
  display: block;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
  font-size: 16px;
  color: white;
  position: relative;
}

.navbar .lists-menu li label {
  display: block;
  padding: 13px 20px;
  margin-bottom: 0px;
  width: 175px;
}

.navbar .lists-menu li:hover {
  display: block;
  border-bottom: 1px solid white;
  font-size: 16px;
  color: white;
  background-color: #222629;
  position: relative;
}

.navbar .lists-menu input[type="radio"]:checked+label {
  display: block;
  padding: 13px 20px;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
  font-size: 16px;
  color: white;
  background-color: #222629;
  position: relative;
}

input[type="radio"] {
  display: none;
}


.close-sidebar-button {
  margin-left: 20px;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.add-list-button {
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

.toggle-side-menu {
  margin-left: 6px;
  font-size: 20px;
  border: none;
  padding: 10px;
  background-color: transparent;
}

.toggle-side-menu:active {
  background-color: #86C232;
  border-radius: 0;
}

.taskListButton {
  opacity: 0;
  display: flex;
  size: 0px;
}

.delete-list-button {
  padding: 3px;
  border: 0;
  outline: 0;
  vertical-align: center;
  margin-left: 15px;
}
